<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/admin-layout :: admin-layout(~{::#content})}">

<body>

	<div id="content"
		style="background: #f3f3f3; padding: 50px 0; min-height: 80vh;">

		<div class="container">

			<div class="row justify-content-center">

				<div class="col-md-5">

					<h1 class="fw-bold text-center">TÀI KHOẢN GIẢI ĐẤU THỂ THAO</h1>

					<p class="text-center text-secondary">Đăng nhập để sử dụng hệ
						thống quản lý giải đấu thể thao.</p>

					<div class="card shadow border-0 mt-4">

						<div class="card-header bg-white border-0 p-0">

							<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">

								<li class="nav-item" role="presentation">
									<button class="nav-link active text-dark fw-bold"
										id="login-tab" data-bs-toggle="tab"
										data-bs-target="#login-pane" type="button" role="tab">
										ĐĂNG NHẬP</button>
								</li>

								<li class="nav-item" role="presentation">
									<button class="nav-link text-dark fw-bold" id="signup-tab"
										data-bs-toggle="tab" data-bs-target="#signup-pane"
										type="button" role="tab">ĐĂNG KÝ</button>
								</li>

							</ul>

						</div>

						<div class="card-body p-5">

							<div class="tab-content" id="myTabContent">

								<!-- ĐĂNG NHẬP -->
								<div class="tab-pane fade show active" id="login-pane"
									role="tabpanel">

									<div th:if="${error}" class="alert alert-danger">

										<span th:text="${error}"></span>

									</div>

									<form method="post" th:action="@{/login}">

										<input class="form-control form-control-lg mb-3" type="text"
											name="username" placeholder="Tên đăng nhập" required>

										<input class="form-control form-control-lg mb-3"
											type="password" name="password" placeholder="Mật khẩu"
											required>

										<div class="text-end mb-3">
											<div class="text-end mb-3">
												<a th:href="@{/forgot-password}"
													class="text-secondary text-decoration-none small fw-semibold">
													<i class="bi bi-question-circle me-1"></i>Quên mật khẩu?
												</a>
											</div>
										</div>

										<button class="btn btn-secondary w-100 mb-3">ĐĂNG
											NHẬP</button>

									</form>

								</div>

								<!-- ĐĂNG KÝ -->
								<div class="tab-pane fade" id="signup-pane" role="tabpanel">

									<form method="post" th:action="@{/signup}">

										<input class="form-control form-control-lg mb-3" type="email"
											name="email" placeholder="Email" required> <input
											class="form-control form-control-lg mb-3" type="password"
											name="password" placeholder="Mật khẩu" required>

										<button class="btn btn-dark w-100 mb-3">ĐĂNG KÝ</button>

									</form>

								</div>

							</div>

							<hr>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</body>

</html>
